.filter_knapper {
    position: relative;
    justify-content: space-evenly;
}

#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    /*    grid-template-columns: 1fr 1fr;*/

    gap: 60px;
    margin: 20px;
}

.class {
    object-fit: cover;
}

h1,
h2,
h3 {
    text-align: center;
}
