/*
.filter_knapper {
    position: relative;
    justify-content: space-evenly;
}

#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

    gap: 60px;
    margin: 20px;
}

.class {
    object-fit: cover;
}

h1,
h2,
h3 {
    text-align: center;
}

button:hover {
    background-color: #8DD3E3;
    cursor: pointer;
    color: white;
    border: none;
}*/
.forside {
    display: grid;
}

.forside_img,
h1 {
    grid-area: 1/1;
}

h1 {
/*    place-self: center;*/
    color: white;
    font-size: 2rem;
    margin-top: 24vw;
}

.forside_img {
    width: 100%;
    object-fit: cover;
}

.forside_img {
    height: 90vh;
    width: 100%;
    object-fit: cover;
}

#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    /*    grid-template-columns: 1fr 1fr;*/

    gap: 60px;
    margin: 20px;
}

/*
.class {
    object-fit: cover;
}
*/

h1,
h2,
h3 {
    text-align: center;
    font-family: dico-typewriter-slab, mono;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: 'Montserrat';
    line-height: 1.5rem;
}

.info {
    margin: 0;
}

.filter_knapper {
    text-align: center;
}

button {
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #2F675A;
    font-size: 1rem;
    margin: 0 10px;
}

button:hover {
    background-color: #6EAE9F;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
}

@media (min-width: 800px) {
    .filter_knapper {
        text-align: center;
        font-size: 1rem;
        margin: 0 10px;
    }
}


.valgt {
    background-color: #6EAE9F;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
}
