* {
    box-sizing: border-box;
}

.forside {
    display: grid;
}

.forside_img,
h1 {
    grid-area: 1/1;
}

h1 {
    color: white;
    font-size: 2rem;
    margin-top: 24vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.forside_img {
    width: 100%;
    object-fit: cover;
    object-position: 0 53%;
    height: 90vh;
}

.foto {
    max-width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: dico-typewriter-slab, mono;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-weight: 700;
}

article {
    margin: 2vw;
}

p {
    font-family: 'Montserrat';
    line-height: 1.5rem;
}

.filter_knapper {
    text-align: center;
}

button {
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #2F675A;
    font-size: 1rem;
}

button:hover {
    background-color: #6EAE9F;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
}

.valgt {
    background-color: #6EAE9F;
    cursor: pointer;
    color: white;
    border: 1px solid transparent;
}

@media (min-width: 800px) {
    #liste {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

        gap: 60px;
        margin: 20px;
    }

    button {
        margin: 0 10px;
        text-align: center;
        font-size: 1rem;
        margin: 0 10px;
    }

    .info {
        margin: 15px 0;
    }
}
