* {
    box-sizing: border-box;
}

section img {
    height: auto;
    width: 100%;
}

section div {
    margin: 2vw;
}

#personer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
}

h1 {
    margin-top: 10vw;
    text-align: center;
    font-size: 6vw;

    font-family: dico-typewriter-slab, mono;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: dico-typewriter-slab, mono;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: 'Montserrat';
    line-height: 1.5rem;
}
