body {
    font-family: sans-serif;
    /*            background-color: #ec9434;*/
}

img {
    max-width: 100%;
    /*
            border-radius: 5px;

            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
*/
}

#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
    margin: 2em;
}

.retter {
    padding: 1em;
    border-radius: 1em;
}

header {
    background-color: transparent;
    display: flex;
    /*            justify-content: center;*/
    position: sticky;
    font-family: 'Montserrat';
    text-transform: uppercase;
    z-index: 20;
}

.logo {
    margin-right: 69vw;
}

nav {
    display: flex;
    /*            background-color: #ec9434;*/

    /*
            top: 0;
            width: 100%;
*/
    right: 0;
    position: fixed;
}


nav a {
    padding: 10px;
    cursor: pointer;
}

nav a:link {
    /*            color: black;*/
    text-decoration: none;
}

nav a:visited {
    /*            color: black;*/
    text-decoration: none;
}

nav a:hover {
    /*            color: #96021e;*/
    text-decoration: none;
}

h2,
h3 {
    font-family: 'roboto';
    /*            color: #39281c;*/
    text-align: justify;

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h4 {
    /*            color: #8b4f0d;*/
    text-align: end;

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    /*            color: #7c071b;*/
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
}

button:hover {
    /*
            background-color: #7c071b;
            color: #ec9434;
*/
}
