/*
body {
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    background-color: transparent;
    display: flex;
    position: sticky;
    font-family: 'Montserrat';
    text-transform: uppercase;
    z-index: 20;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

nav a {
    padding: 10px;
    cursor: pointer;
    font-family: dico-typewriter-slab, mono;
    font-weight: 400;
    font-style: normal;
}

nav a:link {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: dico-typewriter-slab, mono;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid grey;
    font-size: 1rem;
}
*/

* {
    box-sizing: border-box;
}

/*//footer* WEB*/

#footer {
    position: absolute;
    background-color: #327361;
    width: 100%;
    margin-top: 69px;

}

.footerbar .indhold {
    display: flex;
    margin-left: 6vw;
    margin-top: 2vw;
}

.indhold h3 {
    font-size: 1.6vw;
    font-family: 'Montserrat';
    margin: 2vw;
    color: white;
    padding-right: 0;
    margin-left: 0;
}

.kontakt {
    margin-right: 4vw;
}


.indhold p {
    font-family: 'Montserrat';
    margin: 1.5vw;
    font-size: 1.1vw;
    color: white;
    padding-right: 0;
    margin-left: 0;
}

.follow {
    position: sticky;
    display: flex;
    padding-top: 34px;
    margin-left: 73vw;
    align-items: center;
}

.copyright {
    color: white;
    font-size: 1.2vw;
    padding-right: 4vw;
    font-family: 'Montserrat';
}


.ig {
    height: 2vw;
    padding-right: 1vw;
}


.fb {
    height: 2vw;
}


@media (max-width: 800px) {

    /*mobil*/
    body {
        margin: 0;
    }

    /*menu*/
    .topnav {
        overflow: hidden;
        background-color: white;
        position: relative;
    }

    .topnav a:hover {
        background-color: white;
    }

    .topnav #myLinks {
        display: none;
        background-color: rgba(110, 174, 159, 0.49);
        text-align: center;
        font-family: dico-typewriter-slab, mono;
        font-weight: 400;
        font-style: normal;
    }

    .topnav a {
        color: black;
        text-decoration: none;
        font-size: 17px;
        display: block;
        padding: 5vw;
    }

    a.logo {
        padding: 0;
    }

    /*burgermenu*/
    .container {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 3px;
        top: 0;
        margin: 6vw 3vw;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 10px;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}





@media (min-width: 800px) {
    .container {
        display: none;
    }

    body {
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    .topnav {
        display: flex;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        align-items: center;
    }

    #myLinks {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    #myLinks a {
        padding: 10px;
        cursor: pointer;
        font-family: dico-typewriter-slab, mono;
        font-weight: 400;
        font-style: normal;
    }

    #myLinks a:link {
        color: black;
        text-decoration: none;
    }

    #myLinks a:visited {
        color: black;
        text-decoration: none;
    }

    #myLinks a:hover {
        color: #6EAE9F;
        text-decoration: none;
    }

    /*tekter*/
    h1,
    h2,
    h3 {
        font-family: dico-typewriter-slab, mono;
        font-weight: 400;
        font-style: normal;
    }

    button {
        background-color: transparent;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #2F675A;
        font-size: 1rem;
        margin: 0 10px;
    }

    button:hover {
        background-color: #6EAE9F;
        cursor: pointer;
        color: white;
        border: 1px solid transparent;
    }

    .indhold h3 {
        text-align: initial;
    }
}

/*footer mobil */
@media (max-width: 600px) {
    .footerbar .indhold {
        display: block;
    }

    .kontakt {
        margin-right: 10vw;
        margin-top: 3vw;
        text-align: center;
    }

    .adresse {
        margin-right: 10vw;
        margin-top: 3vw;
        text-align: center;
    }

    .follow {
        position: sticky;
        padding-top: 20px;
        margin-left: 0vw;
        text-align: center;
        display: block;
    }

    .copyright {
        padding-right: 3vw;
    }

    .ig {
        padding-right: 1vw;
    }

    .fb {
        padding-right: 3vw;
    }

    .indhold h3 {
        font-size: 3vw;
    }

    .indhold p {
        font-size: 1.8vw;
    }
}
